#sectionTitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

td,
th {
    min-width: 100px;
    text-align: center;
}


th,
td {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
}

input:read-only {
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    max-width: 130px;
}

input {
    text-align: center;
    max-width: 130px;
}

.edit {
    border-bottom-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #3498DB;
    text-align: left;
}

table {
    position: relative;
    left: 1%;
    width: 90%;
    background-color: white;
}
tr{
    height: 35px;
}

#tableSection{
    overflow: scroll;
}
