.form-section {
    background-color: #FFFFFF;
}

.form-section input {
    border-style: none;
    background-color: #EBF3F5;
    height: 38px;
    width: 100%;
    padding-left: 5px;
}

.form-section .row {
    margin-bottom: 15px;
}

.form-section label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.95em;
}

.componentTitle {
    margin-bottom: 35px;
    margin-top: 10px;
    font-size: 1.5em;
}

body {
    height: 100%;
}

#confirmButton {
    border-style: none;
    height: 45px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    cursor: pointer;
    background-color: #1D70E8;
}

.employee-data>* {
    margin-bottom: 60px;
    white-space: nowrap;
}

.employee-data tr>td:nth-child(2) {
    padding-left: 20px;
    color: #3498DB;
}

.employee-data {
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}