.menu .side-menu-item {
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    padding-top: 4px;
    font-size: 1.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.menu:first-child {
    margin-top: 10px;
}

.menu>.selected-side-menu-item {
    /* color: #3A539B;
    text-decoration: underline; */
    /* background-color: #3A539B; */
    background-color: #1D70E8;
    color: white;
}

.menu .side-menu-item:hover:not(.selected-side-menu-item) {
    -webkit-animation-name: highlight;
    animation-name: highlight;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.menu{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes highlight {
    100% {
        /* background-color: #3A539B; */
        background-color: #DCDCDC;
        /* color: white; */
    }
}

@keyframes highlight {
    100% {
        /* background-color: #3A539B; */
        background-color: #DCDCDC;
        /* color: white; */
    }
}